.cart {
  display: flex;
  flex: 2;
  width: 100%;

  &__list {
    width: 75%;
    margin-left: 30px;
  }

  &__items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: start;
    li {
      list-style: none;
      width: 100%;
      max-width: 1200px;
    }
    li:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__payment {
    display: flex;
    flex: 2;
    align-items: flex-start;
    justify-content: center;

    .payment__container {
      padding: 30px;
      max-width: 500px;
      min-width: 230px;
      width: 100%;
      border: 2px solid rgba(63, 102, 207, 0.962);
      border-radius: 8px;
      margin: 40px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      .payment__text {
        p {
          font-size: 18px;
        }
      }
      .payment__text:first-child {
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
          padding: 10px 0px;
        }
        span {
          font-size: 20px;
          font-weight: 500;
          color: var(--blue);
        }
        .payment__text-discount {
          font-size: 14px;
          color: var(--blue);
        }
      }
      button {
        width: 100%;
        padding: 5px;
        height: 40px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 600;
        background: linear-gradient(180deg, #0044a4 0%, #00347e 100%);
        color: #fff;
        cursor: pointer;
      }

      button:hover {
        opacity: 0.9;
      }
    }
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    height: 100%;
    color: rgba(63, 102, 207, 0.962);
  }

  .discount {
    input {
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 8px 20px;
      padding-left: 5px;
      width: 100%;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 10px;

      input:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}
