.cart {
  display: flex;
  flex: 2;
  width: 100%;

  &__list {
    width: 75%;
    margin-left: 30px;
  }

  &__items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: start;
    li {
      list-style: none;
      width: 100%;
      max-width: 1200px;
    }
    li:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__payment {
    display: flex;
    flex: 2;
    align-items: flex-start;
    justify-content: center;
    .payment__container {
      padding: 30px;
      max-width: 500px;
      width: 100%;
      height: 380px;
      border: 2px solid rgba(63, 102, 207, 0.962);
      border-radius: 8px;
      margin: 40px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      .payment__text {
        p {
          font-size: 18px;
        }
      }
      .payment__text:first-child {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
          font-size: 20px;
          padding: 30px 0px 10px 0px;
        }
        span {
          font-size: 24px;
          font-weight: 500;
          color: rgba(63, 102, 207, 0.962);
        }
      }
      button {
        width: 100%;
        height: 50px;
        border-radius: 8px;
        font-size: 22px;
        font-weight: 600;
        background: linear-gradient(180deg, #0044a4 0%, #00347e 100%);
        color: #fff;
      }
    }
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    height: 100%;
    color: rgba(63, 102, 207, 0.962);
  }
}
