.productPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__container {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 400px;
  }
  &__images-block {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    .side-images {
      width: 30%;
      img {
        height: 50px;
      }
    }
    img {
      width: 70%;
      object-fit: cover;
    }
  }
  &__text-block {
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    h2 {
      text-align: center;
    }
  }

  .buttons-block {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
