.controls__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100px;
  height: 30px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 8px;
  color: rgba(63, 102, 207, 0.962);

  button {
    width: 25px;
    height: 25px;
    appearance: none;
    border: none;
    background: #fff;
    color: rgba(63, 102, 207, 0.962);
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    cursor: pointer;
  }
}
