.range-slider {
  background: #f7f7f7;
  border-radius: 4px;
  padding: 30px;
  width: 100%;

  .slider {
    appearance: none;
    width: 100%;
    background-color: white;
    height: 4px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
  }
  .thumb {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    background: #0044a4;
  }

  .values-wrapper {
    display: flex;
    margin: 20px 0px 30px 0px;
    justify-content: center;
    gap: 30px;
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 32px;
      border: 1px solid rgba(51, 51, 51, 0.1);
      border-radius: 8px;
    }
  }
}
