.img__cart {
  width: 38px;
  height: 35px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  span {
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 50%;
    right: 60px;
    top: 28px;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
  }
}
