.filter {
  background: #fff;
  width: 100%;
  max-height: 300px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  // border: 2px solid rgba($color: #000000, $alpha: 0.3);
  background: #f7f7f7;
  border-radius: 4px;
}
