.card{
    width: 300px;
    min-height: 330px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:center;
    text-align: center;
    margin-bottom: 15px;
    border:rgba(128, 128, 128, 0.304) solid 0.5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 5px;
  }
  
  .card-image{
    width: 100px;
    height: 130px;
  }
  
  .font-bold{
    font-weight: bold;
  }
  
  .btn-class{
    width: 100px;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .add-yellow{
    background: rgb(188, 188, 82);
  }
  
   .add-blue{
    background: rgba(63, 102, 207, 0.962);
  }