.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  min-height: 300px;
  flex: 2;

  &__wrapper {
    width: 100%;
  }
  .catalog-top-bar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
}
