.sort {
  width: 250px;
  height: 30px;
}
.sort__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  select {
    width: 100%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 37px;
    outline: none;
    border-radius: 5px;
    option:focus {
      color: #fbd846;
    }
  }
  select:hover {
    border-color: #fbd846;
  }
}
