.header {
  height: 72px;
  background: var(--grey);
  display: flex;
  width: 100%;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
  }
}
