.filter {
  background: #fff;
  width: 100%;
  max-height: 300px;
  border-radius: 5px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 30px 0;
  border: 2px solid rgba($color: #000000, $alpha: 0.3);
}
