.navigation{
    width: 700px;
}

.header__nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__nav li{
    list-style-type: none;
    color: #0044A4;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}
.header__nav li:hover{
    color: #F3AB03;
}