.footer__wrapper{
  background: #F7F7F7;
  height: 100px;
}

.footer__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100% ;
  margin: 0 20px;
}

.footer__logo{
  height: 50px;
}

.footer__list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__item{
  margin: 0 20px;
}

.footer__item img{
  height: 30px;
}