.wrapper {
  background: #f7f7f7;
  height: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 20px;
}

.logo {
  height: 50px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  margin: 0 20px;

  img {
    height: 30px;
  }
}
