.footer {
  height: 100px;
  background: var(--grey);
  display: flex;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 20px;
    width: 100%;
  }
  &__logo {
    height: 50px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      list-style-type: none;
    }
  }

  &__item {
    margin: 0 20px;

    img {
      height: 30px;
    }
  }
}
