html {
  min-height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

:root {
  --white: #ffffff;
  --text-color: #000000;
  --green: #99CB38;
  --yellow: #FBD846;
  --footer: #333333;
  --gray: #818181;
  --gray-dark:#222222;
  --padding: 15px;
  --grey: #F7F7F7;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 160%;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  font-style: normal;
  background: var(--white);
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  position: relative;
}

.table-responsive {
  overflow: hidden;
  overflow-x: auto;
}

.container {
  padding-left: var(--padding);
  padding-right: var(--padding);
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
}
