.cart-item {
  display: flex;
  min-height: 150px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__id {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    width: 10%;
    height: 100px;
    overflow: hidden;
    border: 1px solid rgba(51, 51, 51, 0.1);
    border-radius: 4px;
    img {
      padding: 5px;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &__text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;
    width: 65%;
    height: 100%;
    span {
      font-weight: 600;
    }
    h3 {
      text-align: center;
      color: rgba(63, 102, 207, 0.962);
    }
    p {
      margin-top: 10px;
      text-indent: 20px;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: auto;
    }
  }
  &__controls {
    width: 20%;
    height: 100%;
  }
  .controls__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;

    .controls__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      width: 100px;
      height: 40px;
      border: 1px solid rgba(51, 51, 51, 0.1);
      border-radius: 8px;
      color: rgba(63, 102, 207, 0.962);

      button {
        width: 30px;
        height: 30px;
        appearance: none;
        border: none;
        background: #fff;
        color: rgba(63, 102, 207, 0.962);
        font-weight: 500;
        font-size: 25px;
        line-height: 20px;
      }
    }
  }
}
